body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{font:12px "宋体","Arial Narrow",HELVETICA;background:#fff;-webkit-text-size-adjust:100%}
a{color:#172c45;text-decoration:none}
em{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}


/*浮动*/
.float-left {
    float: left;
}

.float-right{
	float: right;
}
/*清除浮动*/
.clear-float {
    clear: both;
}


/**
 * 动画
 */
/*添加教材到购物车*/
/*.book-to-cart{
	animation:addBook 1s;
}*/

/*添加教材动画*/
@keyframes addBook
{
	0%{
		width: 200px;
	}

	100%{
		/*width: 30px;*/
		margin-left: 380px;
		margin-top: -510px;
		transform: scale(0.1);
	}

}